.mat-select-content {
    background-color: rgb(97, 97, 97);
    width: 100%;
    text-align: center;
    border: .5px solid rgb(64, 64, 64);
}

.small {
    max-width: 50%;
}

.addDonation {
    max-width: 500px;
    margin-top: 15vh;
}

.button {
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 30px;
    width: 30px;
}