<div>
  <mat-card class="addDonation flex-container bgDark bLight">
    <div class="flex-container center column bgDark mM pM">
      <p>Remove a Donation</p>
      <div class="flex-container center bLight pM">
        <div class="flex-container column center mM">
          <mat-label>Vendor:</mat-label>
          <mat-label>Program:</mat-label>
          <mat-label>Name:</mat-label>
          <mat-label>Quantity:</mat-label>
        </div>
        <div class="flex-container column center mM">
          <mat-select class="mat-select-content" [(ngModel)]="donator" aria-label="Select an option">
            <mat-option *ngFor="let vendor of vendors" [value]="vendor">
              {{vendor.name}}
            </mat-option>
          </mat-select>
          <mat-select class="mat-select-content" [(ngModel)]="program" aria-label="Select an option">
            <mat-option *ngFor="let SAFEProgram of programs" [value]="SAFEProgram">
              {{SAFEProgram}}
            </mat-option>
          </mat-select>
          <input type="text" [(ngModel)]="name" required /> 
          <input type="number" [(ngModel)]="quantity" min="0" required />  
        </div>
        <button class="center" mat-mini-fab color="primary" aria-label="Example icon button with a delete icon"
          (click)="removeDonation()">
          <mat-icon fontIcon="commit"></mat-icon>
        </button>
      </div>
    </div>
  </mat-card>
</div>
