<mat-toolbar>
  <span>Inventory Management System</span>
  <button routerLink="/login" mat-button>Login</button>
  <button routerLink="/add-donation" mat-button>Add Donation</button>
  <button routerLink="/remove-donation" mat-button>Remove Donation</button>
  <button routerLink="/view-donations" mat-button>Donations Dashboard</button>
  <button routerLink="/new-vendor" mat-button>Add Vendor</button>
  <button routerLink="/edit-vendors" mat-button>Edit Vendor</button>
  <button routerLink="/view-vendors" mat-button>Vendors Dashboard</button>
</mat-toolbar>
<div class="center">
  <router-outlet></router-outlet>
</div>
