
<mat-toolbar>
  <span>Inventory Management System</span>
  <button *ngIf="!loggedIn" [routerLink]="['/login']" mat-button>Login</button>
  <button *ngIf="loggedIn" [routerLink]="['/login']" mat-button (click)="LogoutUser()">Logout</button>
  <button routerLink="/add-donation" mat-button>Add Donation</button>
  <button routerLink="/create-donation" mat-button>Create Donation</button>
  <button routerLink="/remove-donation" mat-button>Remove Donation</button>
  <button routerLink="/view-donations" mat-button>Donations Dashboard</button>
  <button routerLink="/new-vendor" mat-button>Add Vendor</button>
  <button routerLink="/view-vendors" mat-button>Vendors Dashboard</button>
  <button routerLink="/tool-bar-w-side-nav" mat-button>Toobar</button>
</mat-toolbar>
<!-- <app-tool-bar-w-side-nav></app-tool-bar-w-side-nav> -->
<div>
  
  <router-outlet></router-outlet>
</div>
