<mat-card>
    <p>Login</p>
    <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Username:</mat-label>
        <input type="text" [value]="username">
    </mat-form-field>
    <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Password:</mat-label>
        <input type="text" [value]="password">
    </mat-form-field>
    <button id="basic" type="button" mat-button (click)="clicked()">
        Login
      </button>
      <button id="basic" type="button" mat-button (click)="clicked()">
        Logout
      </button>
</mat-card>