<mat-card>
    <p>Add a Donation</p>
    <div>
        <div>
            <mat-label>Name:</mat-label>
            <mat-label>Quantity:</mat-label>
            <mat-label>Donor:</mat-label>
            <mat-label>Program:</mat-label>
        </div>
        <div>
            <input matInput type="text" [(ngModel)]="name">
            <input matInput type="text" [(ngModel)]="quantity">
            <input type="text" [(ngModel)]="donator">
            <mat-select class="mat-select-content" [(ngModel)]="program" aria-label="Select an option">
                <mat-option *ngFor="let SAFEProgram of programs" [value]="SAFEProgram">
                    {{SAFEProgram}}
                </mat-option>
            </mat-select>
        </div>

        <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="addDonation()">
            <mat-icon fontIcon="add_circle"></mat-icon>
        </button>
    </div>


</mat-card>