<mat-card fxFlex fxLayout="column" fxLayoutGap="10px">
    <p>Add a Donation</p>
    <div class="example-form-field" appearance="fill">
        <mat-label>Name:</mat-label>
        <input class="" matInput type="text" [(ngModel)]="name">
    </div>
    <div class="example-form-field" appearance="fill">
        <mat-label>Quantity:</mat-label>
        <input class="" matInput type="text" [(ngModel)]="quantity">
    </div>
    <div class="example-form-field" appearance="fill">
        <mat-label>Donator:</mat-label>
        <input type="text" [(ngModel)]="donator">
    </div>
    <div class="example-form-field" appearance="fill">
        <mat-label>Program:</mat-label>
        <mat-select [(ngModel)]="program" aria-label="Select an option">
            <mat-option *ngFor="let SAFEProgram of programs" [value]="SAFEProgram">
                {{SAFEProgram}}
            </mat-option>
        </mat-select>
    </div>
    <div>
        <button color="primary" aria-label="Example icon button with a delete icon" (click)="addDonation()">
            <mat-icon>add_circle_outline</mat-icon>
        </button>
    </div>
</mat-card>