<mat-card>
    <p>Add a Donation</p>
    <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Name:</mat-label>
        <input type="text" [value]="name">
    </mat-form-field>
    <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Donator:</mat-label>
        <input type="text" [value]="donator">
    </mat-form-field>
    <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Program:</mat-label>
        <input type="text" [value]="program">
    </mat-form-field>
</mat-card>